.cart-item img{
    height: 50px;
}
.cart-item{
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align: center;
}
.cart-icon{
    font-size: 30px;
    border: 0ch;
    background-color: rgb(255, 221, 157);
    border-radius: 10px;
}
.cart-icon:hover{
    color: red;
}